.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .aboutTitle {
    font-size: 3rem;

    animation: AnimationTitle 15s ease infinite;
    
    background-clip: text;
    
    animation-duration: 10s;
    color: #fb1f0b;
  }


  
@keyframes AnimationTitle {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

  
  .aboutText {
    font-size: 1.25rem;

  }
  
  .aboutTecnologiesSide {
    margin: 1.5rem;
  }
  
  .aboutTecnologies {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .about__side {
    margin: 2rem;
    background-color: rgba(var(--color-bg-variant-rgb), 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 0.25rem var(--color-bg);
    transition: var(--transition);
    padding-bottom: 1.5rem;
  }
  
  .about__side:hover {
    box-shadow: 0 0 0.25rem var(--color-primary);
  }

  .aboutLink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }

  .aboutLink:hover {
    color: #F71300;
  }
  
  .aboutTecnologiesTitle {
    margin: 1.5rem 2rem;

  }
  
  .aboutTecnologiesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
  }
  
  .aboutTecnologiesItem {
    display: flex;
    padding: 0.5rem;
    margin: 1rem;
    flex-direction: column;
    height: 12rem;
    width: 10rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba (var(--color-bg-variant-rgb), 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 0.25rem var(--color-bg);
    transition: var(--transition);

  }
  
  .aboutTecnologiesList :hover {
    box-shadow: 0 0 0.25rem var(--color-primary);
  }
  
  .aboutTecnologiesItem :hover {
    box-shadow: none;
  }
  
  .aboutText2 {
    font-size: 1.25rem;

    margin-bottom: 2rem;
  }
  
  @media (max-width: 1720px) {
      .about__technologies-list {
          grid-template-columns: 1fr 1fr;
      }
  }
  
  @media (max-width: 1200px) {
      .about__technologies{
          grid-template-columns: 1fr;
      }
      .about__technologies-list {
          grid-template-columns: 1fr 1fr 1fr;
      }
  }
  
  @media (max-width: 750px) {
      .about__technologies-list {
          grid-template-columns: 1fr 1fr;
      }
  }
  
  @media (max-width: 500px) {
      .about__technologies-list {
          grid-template-columns: 1fr;
      }
  }